/* Simple print CSS
   - Suppress navigation elements including header, footer, and sidebar
   - Adjust the content section of the page to be full width
*/
#header, #global-nav, #navbar, #sidebar-left, #footer {
    display:none;
}
/* undo content margin that makes space for the sidebar */
#content {
    margin-left: 0px;
}
/* compensate for hard-coded widths that are too large for print layout */
#page {
    background: none;
    width: inherit;
}
#main {
    width: inherit;
}